# .join()
"".join(age)으로 answer의 요소들을 연결하여 출력할 수 있음

 문자열이 아닌경우 map(str,age)를 활용해 문자열로 변경해 출력가능
 - 예시
  age = [23,24,25]
  "".join(map(str,age))
 출력결과 : 232425

 - join을 사용하지 않는 경우는 아래를 활용해야함

 for char in my_array:
    result_string += char

In [ ]:
# .split()
letter.split() 으로 문자열을 list로 변경할수 있음

- 예시
    letter = "h e l l o"
    letter.split()
    출력결과 : ['h','e','l','l','o']